{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}
<style>
    @media only screen and (max-width: 1200px) {
    /* #two{
        display: none;
    } */
}
</style>
{% endblock %}

{% block body %}
<div id="message"></div>
    <form action="{{ url_for('cocoProfile', id=coco.id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="{{url_for('static', filename='img/'+coco.img)}}" width="150" height="150" 
                class="mr-2 ml-5" style="display: inline-block; border-radius: 50%;" alt="Avatar">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                {{ form.img.label(class="form-control-label", style="color:lightgray;") }}
                {{ form.img(class="form-control-file mb-2", style="color:lightgray;") }}
                {% for error in form.img.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.name.label(class="form-control-label", style="color:lightgray;") }}
                {{ form.name(class="form-control", size=32) }}<br>
                {{ form.submit(class="btn btn", style="background-color:rgb(38,138,241); color: white;") }}
            </div> 
            
        </div>
    </form>
    <button id="reboot;{{coco.id}}" class="btn btn btn-block mt-3" 
    style="background-color:rgb(26,86,63); max-width: 250px;" 
    onclick="taskController('{{coco.proxy}}','{{coco.id}}',5)"
    data-toggle="tooltip" data-placement="top" title="Use this to restart your Coco.">
        <i class="material-icons" style="color: lightgray; vertical-align:middle;">power_settings_new</i>
    </button>
    <br>
<span id="routines{{coco.id}}" style="display: {% if coco.deviceType == 'coco' %}inline;{% elif coco.deviceType == 'horus' %}none;{%endif%}">
<div class="table-responsive">
    <table id="routineTable" class="table table-sm table-striped table-bordered table-hover table-condensed">
        <thead class="thead-dark">
            <tr>
                <th>{{_('Task')}}</th>
                <th>{{_('Days')}}</th>
                <th>{{_('Times')}}</th>
                <th>{{_('Delete')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for routine in routines %}
                <tr>
                    <td><text style="color:lightgray;">{{ routine['task'] }}</text></td>
                    <td><text style="color:lightgray;">{{ routine['days'] }}</text></td>
                    <td><text style="color:lightgray;">{{ routine['times'] }}</text></td>
                    <td>
                            <button id="delete;{{routine.id}}" data-toggle="modal" data-id="{{routine.id}}" data-target="#modalDelete{{routine.id}}" 
                            class="open-DeleteModal btn" style="float:right; background-color: rgb(205,103,122);">
                            <i class="material-icons" style="vertical-align:middle;">delete</i>
                                <text id="big">{{_('Delete')}}</text>
                            </button>
                    </td>
                </tr>
                <div class="modal fade" id="modalDelete{{routine['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">{{_('Removing Routine.')}}</h5>
                        </div>
                        <div class="modal-body" id="deleteBody">
                            <p>{{_('Please confirm action, removing this Routine from your Coco is irreversible.')}}
                            </p>
                            <label>{{_('Do you wish to remove Routine from list?')}}</label>
                        </div>
                        <div class="modal-footer">
                            {% set url = url_for('deleteRoutine', id=routine['id']) %}
                            <button class="btn btn" onclick="deleteData('{{url}}')" style="display:inline-block; background-color: rgb(205,103,122);">
                                <i class="material-icons mr-1" style="vertical-align:middle;">check</i>{{_('Yes')}}
                            </button>
                            <button class="btn btn" data-dismiss="modal" style="display:inline-block; background-color: rgb(26,86,63);">
                                <i class="material-icons mr-1" style="vertical-align:middle;">clear</i>No
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
</span>

<span id="routines{{coco.id}}" style="display: {% if coco.deviceType == 'coco' %}none;{% elif coco.deviceType == 'horus' %}inline;{%endif%}">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <iframe src="https://ctezna.ngrok.io/main/data/summary" style="height: 250px; width: 250px; background-color: whitesmoke;"></iframe>
            <a href="https://ctezna.ngrok.io/main/record/dht.csv">
                <button class="btn btn" style="display:inline-block; background-color: rgb(26,86,63);">
                    <text style="color:lightgray;">Download Data</text>
                </button>
            </a>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
            <iframe src="https://ctezna.ngrok.io/main/monitor" style="height: 600px; width: 1000px;"></iframe>
        </div>
    </div>

</span>
<script>
    
</script>

{% endblock %}