{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}
<style>
    @media only screen and (max-width: 1200px) {
    /* #two{
        display: none;
    } */
}
</style>
{% endblock %}

{% block body %}
    <form action="{{ url_for('cocoProfile', id=coco.id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="{{url_for('static', filename='img/'+coco.img)}}" width="150" height="150" class="mr-2 ml-5" style="display: inline-block; border-radius: 50%;" alt="Avatar">
            </div>
            <div class="col-md-6 col-sm-6">
                {{ form.img.label(class="form-control-label", style="color:lightgray;") }}
                {{ form.img(class="form-control-file mb-2", style="color:lightgray;") }}
                {% for error in form.img.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.name.label(class="form-control-label", style="color:lightgray;") }}
                {{ form.name(class="form-control", size=32) }}<br>
                {{ form.submit(class="btn btn", style="background-color:rgb(38,138,241); color: lightgray;") }}
            </div> 
            
        </div>
    </form><br>
<div class="table-responsive">
    <table id="routineTable" class="table table-sm table-striped table-bordered table-hover table-condensed">
        <thead class="thead-dark">
            <tr>
                <th>{{_('Task')}}</th>
                <th>{{_('Days')}}</th>
                <th>{{_('Times')}}</th>
                <th>{{_('Delete')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for routine in routines %}
                <tr>
                    <td><text style="color:lightgray;">{{ routine.task }}</text></td>
                    <td><text style="color:lightgray;">{{ routine.days }}</text></td>
                    <td><text style="color:lightgray;">{{ routine.times }}</text></td>
                    <td>
                            <button id="delete;{{routine.id}}" data-toggle="modal" data-id="{{routine.id}}" data-target="#modalDelete{{routine.id}}" 
                            class="open-DeleteModal btn" style="float:right; background-color: rgb(205,103,122);">
                                <span data-feather="x" class="mr-1"></span>
                                <text id="big">{{_('Delete')}}</text>
                            </button>
                    </td>
                </tr>
                <div class="modal fade" id="modalDelete{{routine.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">{{_('Removing Routine.')}}</h5>
                        </div>
                        <div class="modal-body" id="deleteBody">
                            <p>{{_('Please confirm action, removing this Routine from your Coco is irreversible.')}}
                            </p>
                            <label>{{_('Do you wish to remove Routine from list?')}}</label>
                        </div>
                        <div class="modal-footer">
                            {% set url = url_for('deleteRoutine', id=routine.id) %}
                            <button class="btn btn" onclick="deleteData('{{url}}')" style="display:inline-block; background-color: rgb(205,103,122);">
                                <span data-feather="check"></span>{{_('Yes')}}
                            </button>
                            <button class="btn btn" data-dismiss="modal" style="display:inline-block; background-color: rgb(26,86,63);">
                                <span data-feather="x"></span>No
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    
</script>

{% endblock %}