{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}
{% endblock %}

{% block body %}
<a href="{{url_for('connectCoco')}}">
    <button class="btn btn-success btn-block mb-4">
        <span data-feather="user-plus" class="mr-1"></span>
        {{ _('Add Coco') }}
    </button>
</a>
{% for coco in cocos %}
<div class="card text-white bg-dark mb-3">
    <div class="card-header text-center">
        <a href="{{ url_for('cocoProfile', id=coco.id) }}" style="text-decoration: none; color: #ffffff;">
        <img src="{{url_for('static', filename='img/'+coco.img)}}" width="50" height="50" class="mr-2" style="display: inline-block; border-radius: 50%;" alt="Avatar">
        <h4 style="display: inline-block;">{{coco.name}}</h4>
        </a>
        {% if coco.light == 1 %}
            <button type="button" onclick="lightOff('{{coco.proxy}}','{{coco.id}}')" class="btn btn-warning btn-sm ml-3" style="display: inline-block;">
                <span data-feather="moon"></span>
            </button>
        {% elif coco.light == 0 %}
            <button type="button" onclick="lightOn('{{coco.proxy}}','{{coco.id}}')" class="btn btn-outline-warning btn-sm ml-3" style="display: inline-block;">
                <span data-feather="sun"></span>
            </button>
        {% endif %}
    </div>
    <div class="card-body text-center">
        <div id='vid'>
            <button id="play;{{coco.id}}" class="btn btn-primary" onclick="playVid('{{coco.id}}')"><span data-feather="video" class="mr-1"></span>{{_('Play Stream')}}</button>
            <iframe id='frame;{{coco.id}}' style="display:none;" height="100%" width="100%" src="{{coco.proxy}}/camera" >{{ _('iFrame not supported by your browser.')}}</iframe>
        </div>



        <button id="stop;{{coco.id}}" style="display:none;" class="btn btn-danger" onclick="stopVid('{{coco.id}}')"><span data-feather="video-off"></span></button>
        <a href="{{url_for('refresh', id=coco.id)}}">
            <button id="refresh;{{coco.id}}" style="display:none;" class="btn btn-info"><span data-feather="refresh-cw"></span></button>
        </a>
    </div>
    <div class="card-footer text-center" id="container">
        <button id="fullscreen;{{coco.id}}" onclick="fullscreen()" class="btn btn-success" style="display:none;"><span data-feather="maximize-2" id="small"></span><text id="big">{{ _('Fullscreen')}}</text></button>
        <button id="routine;{{coco.id}}" data-toggle="modal" data-id="{{coco.proxy}}" data-target="#modalForm" class="open-AddRoutine btn btn-success"><span data-feather="plus-circle" id="small"></span><text id="big">{{ _('Add Routine')}}</text></button>
        <button onclick="feedCoco('{{coco.proxy}}', '{{coco.id}}')" class="btn btn-success" style="float:left"><span data-feather="smile" id="small"></span><text id="big">{{_('Feed Coco')}}</text></button>
        <button id="delete;{{coco.id}}" data-toggle="modal" data-id="{{coco.id}}" data-target="#modalDelete{{coco.id}}" class="open-DeleteModal btn btn-danger" style="float:right"><span data-feather="x"></span><text id="big">{{_('Delete Coco')}}</text></button>
    </div>
</div>

<div class="modal fade" id="modalDelete{{coco.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Removing Coco.</h5>
        </div>
        <div class="modal-body" id="deleteBody">
            <p>Please confirm action, removing Coco is irreversible.
            </p>
            <label>Do you wish to remove Coco from list?</label>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" onclick="deleteCoco('{{coco.id}}')" style="display:inline-block;"><span data-feather="check"></span>Yes</button>
            <button class="btn btn-success" data-dismiss="modal" style="display:inline-block;"><span data-feather="x"></span>No</button>
        </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add New Routine</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('index') }}" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.task.label }} {{ form.task() }}
                </p>
                <p>{{ form.days.label }}</p>
                <p>
                    {{ form.mon()}}{{ form.mon.label}} {{ form.tue()}}{{ form.tue.label}}
                    {{ form.wed()}}{{ form.wed.label}} {{ form.thur()}}{{ form.thur.label}}
                    {{ form.fri()}}{{ form.fri.label}} {{ form.sat()}}{{ form.sat.label}} {{ form.sun()}}{{ form.sun.label}}
                </p>
                <p>
                    {{ form.times.label }}
                    {{ form.times(class="form-control", placeholder="12:00 PM, 3:00 PM", size=32)}}
                </p>

                    {{ form.proxy(style="display:none;")}}
                <small class="text-muted">
                    Separate times with commas.
                </small><br>
        </div>
        <div class="modal-footer">
                <p>{{ form.submit(class="btn btn-primary btn-block") }}</p>
            </form>
        </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).on("click", ".open-AddRoutine", function () {
     var proxy = $(this).data('id');
     $(".modal-body #proxy").val( proxy );
    });
</script>
<script>
    function playVid(id){
        document.getElementById('play;'+id).style.display = 'none';
        document.getElementById('frame;'+id).style.display = 'inline';
        document.getElementById('stop;'+id).style.display = 'inline';
        document.getElementById('refresh;'+id).style.display = 'inline';
        document.getElementById('routine;'+id).style.display = 'none';
        document.getElementById('fullscreen;'+id).style.display = 'inline';
    }
    function stopVid(id){
        document.getElementById('play;'+id).style.display = 'inline';
        document.getElementById('frame;'+id).style.display = 'none';
        document.getElementById('stop;'+id).style.display = 'none';
        document.getElementById('refresh;'+id).style.display = 'none';
        document.getElementById('fullscreen;'+id).style.display = 'none';
        document.getElementById('routine;'+id).style.display = 'inline';
    }
    function feedCoco(proxy,id){
        proxy = proxy + '/feed';
        post('index', {data:proxy, id:id},'post');
    }
    function lightOn(proxy,id){
        proxy = proxy + '/lightOn';
        post('index', {data:proxy, id:id},'post');
    }
    function lightOff(proxy,id){
        proxy = proxy + '/lightOff';
        post('index', {data:proxy, id:id},'post');
    }
    function deleteCoco(id){
        post('delete', {id:id}, 'post');
    }
</script>
<script>
    // when you are in fullscreen, ESC and F11 may not be trigger by keydown listener. 
    // so don't use it to detect exit fullscreen
    document.addEventListener('keydown', function (e) {
    console.log('key press' + e.keyCode);
    });
    // detect enter or exit fullscreen mode
    document.addEventListener('webkitfullscreenchange', fullscreenChange);
    document.addEventListener('mozfullscreenchange', fullscreenChange);
    document.addEventListener('fullscreenchange', fullscreenChange);
    document.addEventListener('MSFullscreenChange', fullscreenChange);

    function fullscreen() {
    // check if fullscreen mode is available
    if (document.fullscreenEnabled || 
        document.webkitFullscreenEnabled || 
        document.mozFullScreenEnabled ||
        document.msFullscreenEnabled) {
        
        // which element will be fullscreen
        var iframe = document.querySelector('#vid iframe');
        // Do fullscreen
        if (iframe.requestFullscreen) {
        iframe.requestFullscreen();
        } else if (iframe.webkitRequestFullscreen) {
        iframe.webkitRequestFullscreen();
        } else if (iframe.mozRequestFullScreen) {
        iframe.mozRequestFullScreen();
        } else if (iframe.msRequestFullscreen) {
        iframe.msRequestFullscreen();
        }
    }
    }

    function fullscreenChange() {
    if (document.fullscreenEnabled ||
        document.webkitIsFullScreen || 
        document.mozFullScreen ||
        document.msFullscreenElement) {
        console.log('enter fullscreen');
    }
    else {
        console.log('exit fullscreen');
    }
    // force to reload iframe once to prevent the iframe source didn't care about trying to resize the window
    // comment this line and you will see
    var iframe = document.querySelector('iframe');
    //iframe.src = iframe.src;
    }
</script>
<script>
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
            if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>

{% endblock %}