<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon"> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block refresh %}{% endblock %}
        <title>The Coco Project</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="{{url_for('static', filename='js/app.js')}}"></script>


        
        <div>
            <style>
                    #small{
                        display: none;
                    }
                    @media only screen and (max-width: 500px) {
                    #big{
                        display: none;
                    }
                    #small{
                        display: inline;
                    }
                }
                .sticky {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }
            </style>
            {% block style %}{% endblock %}
        </div>
    </head>
    <body style="background-color: rgb(15,15,15);">
        <header class="site-header">
        <div id="navbar">
        <nav class="navbar navbar-dark" style="background-color: rgb(15,15,15);">
            <a id="big" class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='img/Logo_small.png')}}" width="35" height="35" style="border-radius: 50%" class="d-inline-block align-top" alt="Logo">
                <text class="ml-2" id="two">The Coco Project</text>
            </a>
            <a id="small" class="navbar-brand" href="{{url_for('index')}}">
                <img id="small" src="{{url_for('static', filename='img/Logo_big.png')}}" width="70" height="45" style="border-radius: 20%"class="d-inline-block align-top" alt="Logo">
            </a>

            <div class="navbar-nav">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                    <a class="nav-item nav-link" href="{{ url_for('userProfile', username=current_user.username) }}">
                        <text id="account">{{ _('Account') }}</text></a>
                    </div><div class="col-md-6 col-sm-6 col-6">
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">
                        <text id="logout">{{ _('Log Out') }}</text></a>
                    </div>
                </div>
            </div> 
        </nav>
        </div>
        </header>
        <main role="main" class="container">
        <!-- <div class="container-fluid"> -->
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <div id="cat" class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            <strong><p id="flash">{{ message }}</p></strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        <!-- </div> -->
    </main>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        <script>
                window.onscroll = function() {myFunction()};
                
                var navbar = document.getElementById("navbar");
                var sticky = navbar.offsetTop;
                
                function myFunction() {
                  if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                  } else {
                    navbar.classList.remove("sticky");
                  }
                }
        </script>
    </body>
    <footer>
        <br><br>
        <div class="text-center">
            <small class="text-muted">{{_('You and your pet are one.')}}</small>
        </div>     
    </footer>
</html>