{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}
<style>
    @media only screen and (max-width: 1200px) {
    /* #two{
        display: none;
    } */
}
</style>
{% endblock %}

{% block body %}
<form action="{{url_for('refresh', id=coco.id)}}" onsubmit="progress()" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label() }}
        {{ form.name(class="form-control", size=32) }}
    </p>
    <p>
        {{ form.address.label() }}
        {{ form.address(class="form-control", size=32, disabled="true") }}
    </p>
    <p>
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Remote.it Password", size=32, autofocus="true") }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div class="progress">
        <div id="prog" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="display: none;"></div>
    </div><br>
    <p>{{ form.submit(class="btn btn-primary btn-block", value="Refresh Connection") }}</p>
</form>
<script>
    function progress(){
        document.getElementById('prog').style.display = 'inline';
        document.getElementById('prog').style.width = '10%';
        setTimeout(function(){document.getElementById('prog').style.width = '40%';},1000);
        setTimeout(function(){document.getElementById('prog').style.width = '73%';},1000);
        setTimeout(function(){document.getElementById('prog').style.width = '99%';},1000);
    }
</script>
{% endblock %}