{% extends 'layout.html' %}

{% block refresh %}

{% endblock %}

{% block style%}
<style>
    @media only screen and (max-width: 780px) {
    #user{
        font-size: 25px;
    }
}
</style>
{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4"><strong>{{_('User')}}: </strong><text id="user">{{user.username}}</text></h1>
    <p class="lead">{{_('User settings. Use the following form to make changes to your password or Developer Key.')}}</p>
    <hr class="my-4">
    <p>
        <form action="{{ url_for('userProfile', username=current_user.username) }}" method="post">
            {{ form.hidden_tag() }}
            <p class="lead">{{_('Change Password')}}</p>
            <p>
                {{ form.password(class="form-control", placeholder=_("Password"), size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <small id="passwordHelpInline" class="text-muted">
                    {{_('Should be 8-20 characters.')}}
                </small><br>
            </p>
            <p>
                {{ form.password2(class="form-control", placeholder=_("Repeat Password"), size=32) }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <p class="lead">{{_('Change Developer Key')}}</p>
                {{ form.devKey(class="form-control", placeholder=user.dev_id, size=32) }}
                {% for error in form.devKey.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <br>
            <p>
                {{ form.submit(class="btn btn-lg", style="background-color:rgb(38,138,241); color: white;") }}
            </p>
        </form>
    </p>
</div>
{% endblock %}